* {
  letter-spacing: .050rem;
}

.App {
  text-align: center;
}
/* tab-size: 4; -- todo would be cool to reduce tab size */


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App_Background {
  background-color: "lightgrey";
}
/* 
.App-body {
  flex-grow: 2;
} */

.App-brand {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.App-intro {
  font-size: large;
}

.text-xs-right {
  font-size: xx-large;
}

 /* .prettyprint {
  text-align: left;
}
.prettyprint ol.linenums > li { list-style-type: decimal; }
*/


.flex-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.flex-item {
  display: 'flex';
  justify-content: center;
  align-items: center;
  padding: 8px;
}

/* todo  */
.flex-item > .comments-pane {
  flex: 1;
}

.flex-item > .App-body {
  flex: 2;
}

.left-align {
  text-align: left;
}

/* https://stackoverflow.com/questions/10019797/pure-css-close-button */
span.boxclose{
  float:right;
  margin-top:-30px;
  margin-right:-30px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.boxclose:before {
  content: "×";
}

.single-comment {
  border: 1px solid black;
  padding: 10px;

}

.comment-container:hover {
  z-index: 99;
}

.float-comment-pane {
  background: pink;
  position: absolute;
  padding: 10px;
  /* position: absolute;
  right: 5px;
  top: 5px; */
  /* position: relative;
  top: 50%;
  right: 5%; */
}

.float-right {
   position: absolute;
  right: 450px; 
  /* position: relative;
  right: 5%; */
}

/* add hover effects for our search repo and repo contents panels */
/* .panel-block:hover {
  background-color: lightgray;
}  */

.panelHover:hover {
  background-color: lightgray;
}

.panel-line-active {
  color: #65cae4;
}

/* .hide-after-notify {
  animation: hide-animation 1.6s ease-in 6s;
  visibility: hidden;

  @keyframes hide-animation {
    0% {
      opacity: 1;
      visibility: visible;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
} */

/* user avatar - auto fill grid */
.auto-fill {
  display: grid;
  /* grid-template-rows: 25% 100px auto; */
  grid-template-columns: repeat(4, 6rem [col-start]);

  /* grid-template-columns: repeat(auto-fill, 1fr); */
}

.auto-fill > button {
  width: 6rem;
  height: 6rem;
}

/* comment card footer */
.card-footer {
  border-top: none;  
}
a.card-footer-item {
  border-right: none;
  padding: 0.25rem;
}

/* comment card header  */
.commentHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
}

.hover-container {
  position: relative;
  display: inline-block;
  width: 13.75rem;
  height: 2rem;
}
.hover-out {
  display: inline-block;
}
.hover-container:hover > .hover-out{
  display:none;
}
.hover-in  {
  opacity:0;
  position: absolute
}
.hover-container:hover > .hover-in{
  opacity:100;
  transition-property: all;
  transition-duration: 700ms;
  /* transform: translateX(-8%); */
  margin-left: 20%;
  transform: translateX(-15%);
}
    
.comment-badge {
  margin-left: -35px;
  position: absolute;
}

.comment-badge > button {
  padding: 8px;
}

.comment-badge > svg {
  fill: tomato;
  background-color: white;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
}

.card-rounded {
  border-radius: 10px;
  overflow: hidden;
}

/* inquiry form - override multi select height */
.select select[multiple] {
  height: auto;
  padding: 0;
}

.select.is-multiple {
  height: auto;
  padding: 0;
}

span.tag.is-rounded {
  background-color: #234d4d;
}

/* navbar overrides */
div.navbar-burger {
  height: 4.8rem;
}

/* xs screen */
@media screen and (max-width: 768px) {
  .small-sc-only{
    display: flex;
  }
  .large-sc-only {
    display: none;
  }
  .comment-container {
    margin-left: 2rem;
  }
  .home-container {  
    margin: 2px;
  }
  .home-content
  {
    padding:0em 1em 1em 1em;
  }
  .recent-card-text-container
  {
    padding-left: 1rem;
    justify-content: flex-end;
  }
  .logo
  {
    width: 3rem;
  }
  .link-to-site-code-long
  {
    display: none;
  }
  .link-to-site-code-short
  {
    display: inline-block;
  }
}

/* smallscreen and up */
@media screen and (min-width: 768px) {

.home-content
{
  padding: 0em 2em 1em 2em;
}
.recent-card-text-container
{
  padding-left: 4rem;
  justify-content: space-between;
}
.logo
{
  width: 5rem;
}
.link-to-site-code-long
  {
    display: inline-block;
  }
  .link-to-site-code-short
  {
    display: none;
  }
}

/* large screen and up */
@media screen and (min-width: 1200px) {
  .small-sc-only{
    display: none;
  }
  .large-sc-only {
    display: flex;
  }
.home-container
{
  margin: 20px;
}
.home-content
{
  padding:0em 16em 2em 16em;
}
.logo
{

}

}

/* search panel overflow fix */
.panel-tabs
{
  flex-flow: row wrap;
}

/* home-screen recent cards */
.recent-card
{
  min-width: 300px;
}
.recent-card-text-container
{
  display: flex;
  align-items: center;
  font-size: larger;
}
.recent-card-repo-name
{
  font-size: larger;
  font-weight: 500;
}
.recent-card-repo-item
{
  margin-top: 5px;
}
.recent-card-repo-path
{

}
.recent-card-repo-owner
{

}


.comment-container:hover .button-group-end {
  visibility: visible;
}

.card:hover .float-button-pane {
  visibility: visible;
}

.button-group-end {
  display: flex !important;
  justify-content: flex-end !important;
  border-radius: 10px;
  visibility: hidden;
}

.float-button-pane {
  float: right;
  flex-direction: column;
  right: 0px;
  margin-top: -3rem;
  margin-right: -1.25rem;
  visibility: hidden;
}

.float-button-pane > button {
  margin-top: 0.5rem;
}

.float-emjoi-pane {
  float: right;
  flex-direction: row;
  right: 0px;
  margin-right: -1.25rem;
  visibility: visible;
  background-color: gray;
  border-radius: 10px;
}

.hover-modal {  
  top: 600px;
  border: black;
  border-width: 2px;
  position: absolute;
  border-style: solid;
  background-color: antiquewhite;  
  z-index: 999;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


