.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* 
.App-body {
  flex-grow: 2;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.text-xs-right {
  font-size: xx-large;
}

 /* .prettyprint {
  text-align: left;
}  */


.flex-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.flex-item {
  display: 'flex';
  justify-content: center;
  align-items: center;
  padding: 8px;
}

/* todo  */
.flex-item > .comments-pane {
  flex: 1;
}

.flex-item > .App-body {
  flex: 2;
}

.left-align {
  text-align: left;
}

/* https://stackoverflow.com/questions/10019797/pure-css-close-button */
span.boxclose{
  float:right;
  margin-top:-30px;
  margin-right:-30px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.boxclose:before {
  content: "×";
}

.single-comment {
  border: 1px solid black;
  padding: 10px;

}

.float-comment-pane {
  background: pink;
  position: absolute;
  padding: 10px;
  /* position: absolute;
  right: 5px;
  top: 5px; */
  /* position: relative;
  top: 50%;
  right: 5%; */
}

.float-right {
   position: absolute;
  right: 450px; 
  /* position: relative;
  right: 5%; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
